.cover {
    background-color: rgba(56, 38, 38, 0.664);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: absolute;
}
.BG{
  position: absolute;
  z-index: -2;
  height: auto;
  width: auto;
  margin: 0;
  bottom: 0;
}
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /*background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-wrapper{
    -webkit-transition-timing-function:linear;
    -o-transition-timing-function:linear; 
    transition-timing-function:linear; 
  }

  .ImageBox-Item img{
    max-height: 20em;
    width: auto;
    float: left;
    border: 10px white;
    border-style: solid;
  }

  .IB1{padding-top: 10%;}
  .IB2{padding-top: 20%;}
  .IB3{padding-top: 30%;}
  .IB4{padding-top: 20%;}
  .IB5{padding-top: 10%;}
  .IB6{padding-top: 20%;}
  .IB7{padding-top: 30%;}

  
  .btn{
    float: left;
    margin: 0;
    padding: 0;
    width: 20%;
    height: 100%;
    border: 0px solid;
    background: none;
    color: white;
    font-family: sans-serif;
    cursor: pointer;
  }
  .btn:hover
  {
    background: rgb(255, 0, 0);
    color:white;
    text-shadow: 0 0 5px black;
    box-shadow: 0 0 5px red,
                0 0 25px red,
                0 0 50px red,
                0 0 200px red;
  }
  .BTI
  {
    background-image: url("/Image/首頁/BG.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: auto;
    z-index: 4;
    position: absolute;
    margin-top: auto;
    margin-bottom: 0;
    top: 0;
    bottom: 10%;
    left: -100%;
  }
  .BTIB{

    bottom: 0;
    width: auto;
    height: 100%;
  }
.bt1:hover .BTIB{
  left: 0;
}