svg{
    display: block;
    position: absolute;
    z-index: 0;
    left: 0;
    bottom: 0;
}
.Line-D{
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    animation: dash 6s 1s linear forwards ;
}
.LineDrew{
    width: 0px;
    height: 250px;
    animation: Line-dash 0.5s 1s linear forwards ;
}
@keyframes Line-dash {
    0%{width: 0px;height:250px;}
    100%{width: 250px;height: 250px;}
}
@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
}
@media (max-width: 1000px) {
    svg{display: none;}
}
@media (min-width: 1200px) {
    svg{display: block;}
}