svg{
    display: block;
    position: absolute;
    z-index: 0;
    left: 0;
    bottom: 0;
}
.Line-D{
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    animation: dash 1s  linear forwards ;
}
.line-text{
    fill: rgba(64, 34, 15, 0);
    animation: text-fill 5s  linear forwards ;
}
@keyframes text-fill {
    to {
        fill:#40220F;
    }
}
@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
}
@media (max-width: 1000px) {
    svg{display: none;}
}
@media (min-width: 1200px) {
    svg{display: block;}
}
